In [1]:
import pandas as pd
import numpy as np

In [2]:
ar = np.random.randint(1, 2000, (10,5))

In [3]:
ar

array([[  12, 1365, 1994,  542,   42],
       [1642, 1140,  253, 1478, 1655],
       [1833, 1668,  165, 1939,  292],
       [1828, 1158, 1460,  135, 1506],
       [1848,  625, 1254, 1097,  631],
       [1664, 1708,  149,  327, 1779],
       [1913, 1261, 1959, 1595, 1318],
       [1614,  753,   73,   61, 1284],
       [ 614,   30, 1216, 1323,  672],
       [1428,  782,  388,  872,  557]])

In [4]:
df = pd.DataFrame(data=ar)
df

      0     1     2     3     4
0    12  1365  1994   542    42
1  1642  1140   253  1478  1655
2  1833  1668   165  1939   292
3  1828  1158  1460   135  1506
4  1848   625  1254  1097   631
5  1664  1708   149   327  1779
6  1913  1261  1959  1595  1318
7  1614   753    73    61  1284
8   614    30  1216  1323   672
9  1428   782   388   872   557

In [6]:
df.to_csv("../data/test.csv", index=False)